---
layout: default
---

<div class="home">
  <p class="page-content">
  <h1 class="page-heading">Hello, I'm Emily.</h1>
    I am a software engineer at Quantcast in San Francisco. I enjoy learning new things, spending time outdoors, and seeing live music. I also hang out with <a href="http://mattschartman.com/" class="text-link">Matt</a> sometimes.
  </p>

  <div class="email-social-media-list">
    <a href="mailto:{{ site.email }}">
      <span class="fa fa-envelope internet-links""></span>
    </a>
    &nbsp;

    {% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <span class="fa fa-linkedin internet-links"></span>
    </a>
    &nbsp;
    {% endif %}

    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa fa-twitter internet-links"></span>
    </a>
    &nbsp;
    {% endif %}

    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa fa-github internet-links"></span>
    </a>
    {% endif %}
  </div>
</div>